@tailwind base;
@tailwind components;
@tailwind utilities;



.markdown h1{
    font-size: 3rem;
    font-weight: bold;
}

.markdown h2,h3,h4,h5,h6{
    font-weight: 600;
    font-size: 1.9rem;
}

ul,li{
    list-style: disc;
    position: relative;
    left: 15px;
}

.markdown pre{
    padding: 10px;
    overflow-x: scroll;
    background-color: rgb(44, 44, 44);
    color: white;
}

.markdown img{
    width: 100%;
}

@media screen and (max-width : 500px) {
    .markdown h1{
        font-size: 1.9rem;
    }
    .markdown h2,h3,h4,h5,h6{
        font-weight: 500;
        font-size: 1.3rem;
    }
}